<!DOCTYPE html>
<html>
    <head>
        <title>HTML img Tag</title>
    </head>
    <body>
        <table style="width:100%">
            <tr>
                <td> 
                        <h5 style="display:inline;"> {{image['title']}}</h5>
                        <img src= "data:;base64,{{ image['image'] }}" style="width:200px; height: 200px;">
                        <p style="display:inline;"> {{image['description']}}</p>
                        <form method='POST' action="/delete/{{image['id']}}">
                            <button type="submit">Delete</button>
                        </form>
                          <button>
                            <a href="/">Back</a>
                        </button>

                </td>
            </tr>
        </table>
    </body>
</html>