<!DOCTYPE html>
<html>
    <head>
        <title>HTML img Tag</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Image Repo</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active justify-content-right">
                    <a class="nav-link " href="/add">Add Image</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <div class="error-details">
                            Sorry, an error has occured, Requested page not found for image
                        </div>
                        <div class="error-actions">
                            <a href="/" class="btn btn-primary btn-lg">Go to home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>