<!DOCTYPE html>
<html>
    <head>
        <title>HTML img Tag</title>
    </head>
    <body>
        <form enctype="multipart/form-data" method='POST' action="/add">
            <label for="Search value label" id="search value label" >Search for image of: </label>
            <input type="text" class="form-control" name="searchValue"id="searchValue" aria-describedby="search value" placeholder= "Enter title of description"</input>
            <input type="text" class="form-control" name="descriptiton"id="descriptiton" aria-describedby="descriptiton of Image" placeholder= "describe the image"</input>
            <label for="Search value label" id="search value label" >Upload jpg or png files of your image </label>
            <input type="file" id="file" name="file"  accept="image/*"><input type="submit">
        </form>
    </body>
</html>