<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Image Repo</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active justify-content-right">
                    <a class="nav-link " href="/add">Add Image</a>
                </li>
            </ul>
        </nav>
        <div class="container" style="margin-top: 3%;"> 
            <div class="form-group">
                <form enctype="multipart/form-data" method='POST' action="/addImage">
                    <label for="Search value label" id="search value label" >Search for image of: </label>
                    <input style="margin: 3px;" type="text" class="form-control" name="searchValue"id="searchValue" aria-describedby="search value" placeholder= "Enter title of image"</input>
                    <input style="margin: 3px;" type="text" class="form-control" name="description"id="description" aria-describedby="description of Image" placeholder= "Enter the description of the image"</input>
                    <div class="form-group">
                        <label for="Search value label" id="search value label" style=" margin-bottom: 0px;">Upload jpg or png files of your image: </label>
                        <input type="file" id="file" name="file"  accept="image/*" style="display: block; margin:1%; margin-left: 0px;"><input type="submit">
                    </div>
                </form>
            </div> 
        </div>
    </body>
</html>