<!DOCTYPE html>
<html>
    <head>
        <title>HTML img Tag</title>
    </head>
    <body>
        <img src= "data:;base64,{{ image }}" style="width:200px; height: 200px;"> 
        <form id= "delete" action="/delete?_method=DELETE" method = "POST">
            <input id="image" aria-describedby="search value" value= {{image}} </input>
            <button type="submit" id= "right" class=" ui red basic button">Delete Image</button>
        </form>
    </body>
</html>



<!DOCTYPE html>
<html>
    <head>
        <title>HTML img Tag</title>
    </head>
    <body>
         <form method='POST' action="/">
            <label for="Search value label" id="search value label" >Search for image of: </label>
            <input type="text" class="form-control" name="searchValue"id="searchValue" aria-describedby="search value" placeholder= "Enter title of image to search for"</input>
            <button type="submit">Sumbit</button>
        </form>
        <table style="width:100%">
            <tr>
                {% for image in images %}
                    <td>
                        <img src= "data:;base64,{{ image }}" style="width:200px; height: 200px;">
                        <link to="/image"><button>Image</button</link>
                    </td> 
                {% endfor %}
            </tr>
        </table>
    </body>
</html>
